{% extends 'back.html.twig' %}

{% block title %}
  Modifier Labo
{% endblock %}

{% block labo %}
   <h1 style="color:DarkBlue;">
    Modifier Labo
  </h1>

  {{
    include(
      'labo/_form.html.twig',
      {
        button_label: 'Modifier'
      }
    )
  }}


  {{ include('labo/_delete_form.html.twig') }}
  <a href="{{ path('app_labo_index') }}">retour à la liste</a>

{% endblock %}
