{% extends 'base_front.html.twig' %}

{% block title %}New Appreciation{% endblock %}

{% block department %}
    <h1>N'hesiter pas de donner votreAppreciation</h1>

    {{ include('appreciation/_form.html.twig') }}

    <a href="{{ path('app_appreciation_index') }}"><button type="submit" class="btn btn-primary btn-lg">La liste</button></a>
{% endblock %}
