
{% extends 'front.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block department %}

    {{ parent() }}

    <h1>Thanks for your attempted order!</h1>
    <p>
        We would appreciate your business!
        But your payment failed :(
        <a href="mailto:tasnim.hamdi@esprit.tn">tasnim.hamdi@esprit.tn</a>.
    </p>

<div>

</div>
{% endblock %}