{% extends 'front.html.twig' %}

{% block title %}Rating index{% endblock %}

{% block labo %}
    <h1 style="color:Teal;">  THANK YOU FOR RATING !! </h1>




    <a class="nav-link collapsed" href="{{ path('front_labo_index') }}">
          <span>
retoure a la page du laboratoires 
            </span>
          </a>

{% endblock %}
