{% extends 'front.html.twig' %}

{% block title %}New Favoris{% endblock %}
{% block fav %}

    <h1>Ajouter votre medecin favori</h1>

    {{ include('favoris/_form.html.twig') }}

   
{% endblock %}
