{% extends 'back.html.twig' %}



{% block labo %}
  
  <img src="{{ asset('front/img/sauvie.png') }}"
                style="width:300px;height:300px;" />
<h4 style=" border:2px solid DodgerBlue;color:DarkBlue;">
   Bienvenue ABIDI Maryem!!
  </h4>
{% endblock %}